
h2
{
	font-size:50px;
}
body
{
  background-color: #4b4b4b;
  font-family: 'MedievalSharp-Book';
  text-align: center;
}
p
{
  font-size: 18px;
}
.charChoices
{
  display: flex;
  flex-flow: row;
  margin:auto;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin: 70px;
}

#scribeTitle
{
  color:  #9ac470;
  font-size: 40px;
}
#knightTitle
{
  color: #537ae9;
  font-size: 40px;
}
#bruteTitle
{
  color: #fe0000;
  font-size: 40px;
}
#charPics
{
  border: double;
  border-color: black;
}
